/* Soluzione qui */

@media screen and (min-width:768px) {

    /* header */
     #topbar {
        display: flex;
        justify-content: start;
     }

     /* main */
     main {
        padding: 2rem;
     }

     /* --- --- recipe --- --- */

     /* recipe header */

     .recipe-name {
        display: flex;
        font-size: 1.8rem;

        .recipe-origin {
            display: block;
            padding-left: 8px;
        }
     }
}