/* Soluzione qui */

@media screen and (min-width:768px) {

    /* header */
     #topbar {
        display: flex;
        justify-content: start;
     }

     /* main */
     main {
        padding: 2rem;
     }

     /* --- --- recipe --- --- */

     /* recipe header */

     .recipe-name {
        display: flex;
        font-size: 1.8rem;

        .recipe-origin {
            display: block;
            padding-left: 8px;
        }
     }

     /* quick notes */

     ul {
        display: flex;
        flex-wrap: wrap;
     }

     .quick-notes li {
        flex-basis: calc(100% / 3);
     }

     /* social network */

     .social-networks button {
        width: 10rem;

        .fab {
            font-size: 1.1rem;
        }
     }

     /* adv banner */

     .ads {
        display: block
     }

     /* presentation */

     .presentation img {
        float: left;
        margin-right: 1rem;
     }
}